
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;

}
header{
 background: rgba(255, 144, 14, 0.10);

 margin-left: 130px;
    width: 80%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    margin-left: 40px;
}
.nav-title{
    font-size: 2rem;
    color: #131313;
}
nav>ul{
 display: flex;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 10px 20px;
    margin: 20px 0px 20px;
    border: none;
}
nav li{
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/*banner style*/
.banner-contain{
  max-width: 800px;
  text-align: center;
  margin:0 auto;
  margin-left: 100px;
  width: 80%;
}
.banner-title{
    font-size: 2rem;
    color:#131313;
    font-weight: 700;
    margin-top: 30px;
}
.banner-description{
    color:#727272;
    margin: 20px 0px 10px;
}
.logo{
    width: 100%;
    margin-top: 20px;
}


/*main styles*/
main{
  
}
.teams-container{
display: flex;
align-items: center;
margin-top: 40px;
margin-left:130px;
width: 80%;

padding-right: 5px;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.logo{
    width: 250px;
    height: 250px;
}
.teams-contain{
    padding-left: 70px;
    padding-right: 70px;
}
.team-title{
    font-size: 35px;
}
.team-title .Quick-list{
    color:  #727272;
    font-weight: 700;
}
.team-title  .of-Our{
    color:  #131313;
    font-weight: 700;
} 
.team-description{
    margin: 30px 0px 10px;
    color: #727272;
}

.team-title .Features{
    color: #FF900E;
    font-weight: 700;
}
.facts{
    width: 80%;
    margin-left:130px;
    margin-top: 40px;
}
.section-title{
    font-size: 35px;
}
.text-light-gray{
    color:#727272;
    margin-top: 20px;
}
.facts-card-container{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
   
}
.card{
    border: 1px solid #FF900E;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
}
.card-start{
    color: #424242;
}
.card-title{
    color:  #727272;
}
.sponsor{
    width: 80%;
    margin-left:130px;
    margin-top: 40px; 
    text-align: center;
}
.photo{
    width: 100px;
    
}
.sponsor-img-container{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 30px;
}
.features{
    width: 80%;
    margin-left:130px;
    margin-top: 40px; 
    display: flex; 
    justify-content: space-between;
}
.side-img{
    width: 400px;
    height: 700px;
}
.feature-contain{
  text-align: left;
}
.feature-contain .cards{
  margin-top: 30px;
  margin-left: 40px;
  padding: 10px;
}
.footer{
    background: #FFF4E7;
    width: 80%;
    margin-left:130px;
    margin-top: 40px; 
}
.footer-text{
    text-align: center;
    padding: 20px;
    color: gray;
    font-size: 15px;
}
@media screen and (max-width:576px) {
    .header{
        padding: 20px;
    }
    nav ,.teams-container,.facts-card-container,.sponsor-img-container
    ,.features{
        flex-direction: column;
    }
    nav>ul{
        flex-direction: column;
    }
    .banner-contain{
        text-align: center;
        margin-left: 10px;
        padding: 10px;
    }
  .card{
    margin-top: 20px;
  }
    .teams-img-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .photo{
        width: 100px;
      margin-left: 90px;
      margin-top: 20px;
        
    }
}

/*Tablate devices*/
@media screen and (min-width:576px) and (max-width:991px) {
    nav, .teams-container{
        flex-direction: column;
    }
    nav>ul{
        flex-direction: column;
    }
}
